<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/index.css">
    <title>Index</title>
</head>
<body>
  <%- include('header') %>
  <main>
    <div class="content">
      <% items.forEach((item) => { %>
        <div class="text-box">
          <div class="comment">
            <p class="time"><%= item.created %></p>
            <li class="title"><%= item.title %></li>
            <li class="text"><%= item.text %></li>
          </div>
          <div class="bt">
            <a href="/edit/<%= item.id %>"><button>編集</button></a>
            <form action="/delete/<%= item.id %>" method="post">
              <input type="submit" value="削除">
            </form>
          </div>
        </div>
      <% }) %>
    </div>
  </main>
</body>
</html>